NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
GEMINI_API_KEY=
VERTEX_SERVICE_ACCOUNT_FILE=C:\내문서\애드버코더\wooram-505501-36d087664df2.json
GOOGLE_APPLICATION_CREDENTIALS=C:\내문서\애드버코더\wooram-505501-36d087664df2.json
GOOGLE_CLOUD_PROJECT=wooram-505501
VERTEX_LOCATION=global
PUBLIC_DATA_API_URL=https://apis.data.go.kr/1741000/car_wash_info
PUBLIC_DATA_API_KEY=
