NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
GEMINI_API_KEY=
VERTEX_SERVICE_ACCOUNT_FILE=C:\내문서\애드버코더\codex-503811-a0ac868a328d.json
GOOGLE_APPLICATION_CREDENTIALS=C:\내문서\애드버코더\codex-503811-a0ac868a328d.json
GOOGLE_CLOUD_PROJECT=codex-503811
VERTEX_LOCATION=global
VERTEX_VIDEO_BUCKET=codex-503811-video-assets
VIDEO_BUCKET=codex-503811-video-assets
PUBLIC_DATA_API_URL=https://apis.data.go.kr/1741000/car_wash_info
PUBLIC_DATA_API_KEY=
